body {
	background: url('/images/skies.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	color: hsla(210, 50%, 50%, 1.0);
}

.section {
	.container {
		padding: 2em 0;
	}
}

header.site-header {
	color: white;
	padding-top: 1em;
	
	.logo-bundle {
		position: relative;
		img {
			position: absolute;
		}
		.copy {
			margin-left: 120px;
			
			h4 {
				font-size: 4em;
				padding: 0;
				line-height: 1em;
			}
			
			h5 {
				font-size: 1em;
				font-weight: 300;
				line-height: 1em;
				padding: 0;
				margin-top: -0.5em;
				margin-left: 0.5em;
			}
		}
	}
}

#graph {
	width: 100%;
	
	.red {
		fill: #FB8C00;
	}
	
	.green {
		fill: #42A5F5;
	}
}

#graph-container {
	background: white;
	padding-top: 2em;
}

.axis {
	line {
		fill: none;
		stroke: gray;
		stroke-width: 1;
	}
}

.d3-tip {
	background: black;
	padding: 0.4em 0.8em;

	span {
		display: block;
		font-size: 0.8em;
		background: black;
		color: white;
	}
}

#rates-row {
	background: hsla(210, 100%, 50%, 0.667);
	color: white;
	padding: 0;//-1em 0 1em 0;
	font-family: "Maven Pro";
	font-weight: 900;
	
	div {
		text-align: center;
		
		.rate {
			font-size: 2em;
		}
		
		.update {
			font-weight: 500;
		}
	}
	
	input {
		color: black;
	}
}

#explanation {
	.container {
		background: hsla(0, 0%, 100%, 0.9);
	}
}

#support {
	.columns {
		text-align: center;
	}
}

#disclaimer {
	font-size: 0.8em;
	border-top: 1px solid hsla(210, 50%, 50%, 0.667);
}